<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.feed.feedyneedy">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/first"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:name=".MyApp">
<meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyCx_fUKyPryVSbfmCjwk2bD6hQshw_IjDI"/>

        <activity android:name=".FoodItemsActivity"
            android:exported="true"/>
        <activity android:name=".HomeActivity"
            android:exported="true"/>
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddFoodActivity"/>
        <activity android:name=".ViewFoodActivity"/>
        <activity android:name=".FoodDetailsActivity"/>
        <activity android:name=".PlaceOrderActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".DeliverFoodActivity"/>
        <activity android:name=".UserProfileActivity"/>
        <activity android:name=".MyDonationActivity"/>

    </application>

</manifest>